.home-container {
    width: 35%;
    justify-content: flex-start;
    margin: 2em 2em 2em 10em;
}

.home-h1 {
    font-size: 2.5em;
}

.home-h2 {
    font-size: 2em;
}

.home-h2-dust, .home-h3 {
    font-size: 1.5em;
}

@media screen and (max-width: 730px) {
    .home-container {
        width: 90%;
    }
    
    .home-h1 {
        font-size: 1.8em;
    }

    .home-h2, .home-h2-dust {
        font-size: 1.2em;
    }

    .home-h3 {
        font-size: 1em;
    }
}