.social-link-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
    font-size: 1.5em;
}

.social-link-container > a {
    text-decoration: none;
    color: #000900;
}

.animated {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;

}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (min-width: 500px) {

}