.menu-container {
    padding-top: 2em;
}

.menu {
    width: 100%;
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.menu-list > li > a {
    text-decoration: underline;
    color: #001861;
    font-size: 1.2em;
    font-weight: 700;
}