.menu {
    padding-top: 1em;
    margin-left: 4.2em;
    margin-right: 4.2em;
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background: none;
}

.menu-item {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: #eee;
    font-size: 1.4em;
    font-weight: 800;
    transition: text-decoration-color 0.3s ease-in-out;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}

#gallery-link {
    color: #eee;
}

#home-link:hover,
#home-link:focus,
#home-link:active {
    text-decoration-color: #eee;
}

#about-link:hover,
#about-link:focus,
#about-link:active {
    text-decoration-color: #eee;
}

#gallery-link:hover,
#gallery-link:focus,
#gallery-link:active {
    text-decoration-color: #eee;
}

@media screen and (min-width: 500px) {

}