.about-container {
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 2em;
    flex-direction: column;
}

.about-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(110deg, transparent 50%, #1D2336 50%);
}

.about-header {
    align-self: center;
}

.about-body {
    white-space: pre-wrap;
}
