.footer-container {
    padding-top: 2em;
}

.footer-copyright {
    display: flex;
    width: 20%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}