.gallery-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 33vh;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #bebebe79;
    border-radius: 1px;
}

.slide-image {
    margin: 1em;
    border-radius: 2px;
    max-width: 50%;
    height: auto;
}

.slide-details {
    margin: 1em;
}

.slide-description {
    white-space: pre-wrap;
}

@media screen and (max-width: 1500px) {
    .left {
        flex-direction: column;
    }

    .right {
        flex-direction: column-reverse;
    }
}