.gallery-slide {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 33vh;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #bebebe79;
    border-radius: 1px;
}

.slide-image {
    margin: 1em;
}

.slide-details {
    margin: 1em;
}